{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}<div class="form-error">{{ form.non_field_errors }}</div>{% endif %}
            {% for fel in form %}
            <p><label class="form-label" for="{{ fel.id_for_label }}">{{ fel.label }} : </label>{{ fel }}</p>
            {% if fel.errors %}<div class="form-error">{{ fel.errors }}</div>{% endif %}
            {% endfor %}
            <button type="submit">Set new password</button>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.</p>
        <p>Please request a new password reset.</p>
        <p><a href="{% url 'password_reset' %}">Request new reset</a></p>
    {% endif %}
    <p><a href="{% url 'login' %}">Back to login</a></p>
{% endblock %}