{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for fel in form %}
        <p><label class="form-label" for="{{ fel.id_for_label }}">{{ fel.label }} : </label>{{ fel }}</p>
        <div class="form-error">{{ fel.errors }}</div>
        {% endfor %}
        <button type="submit">Reset password</button>
    </form>
    <p><a href="{% url 'login' %}">Back to login</a></p>
{% endblock %}