{% extends 'base.html' %}
{% load catalog_tags %}
{% block content %}
    <h1>{{ title }}</h1>
    {% show_cats %}
    {% show_tags %}
    {% if items_list %}
        <div class="product-grid">
            {% for item in items_list %}
                {% include 'catalog/includes/product_card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div class="empty-state">
            {% icon 'archive' %}
            <p>There's no items yet.</p>
        </div>
    {% endif %}
{% endblock %}
