{% extends 'base.html' %}
{% load catalog_tags %}
{% block content %}
    <h1>{{ title }}</h1>
    {% show_tags %}
    {% show_cats %}
    <ul>
    {% for item in items_list %}
        <li>
            <strong>{{ item.title }}</strong> — {{ item.price }} rub.
            {% if item.images.all %}
                <img src="{{ item.images.first.image.url }}" alt="" width="80">
            {% endif %}
            <p><a href="{% url 'catalog_item_id' item.id %}">Show more</a></p>
        </li>
    {% empty %}
        <li>There's no items yet.</li>
    {% endfor %}
    </ul>
{% endblock %}
