{% extends 'base.html' %}
{% block content %}
    <h1>Name: {{ title }}</h1>
    <p>Category: {{ cat }}</p>
    {% if tags %}
        <p>Tags:
            {% for tag in tags %}
                <a href="{% url 'catalog_tag_id' tag.id %}">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    {% if item.images.all %}
        <h3>Images:</h3>
        {% for img in item.images.all %}
            <img src="{{ img.image.url }}" alt="" width="200">
        {% endfor %}
    {% endif %}

    {% if item.video.all %}
        <h3>Video:</h3>
        {% for video in item.video.all %}
            <video controls src="{{ video.video.url }}" width="400"></video>
        {% endfor %}
    {% endif %}
    
    <p>Price: {{ price }}</p>
    <p>Seller: <a href="{% url 'user_page' item.seller.pk %}">{{ item.seller.full_name }}</a></p>
    <form action="{% url 'favorite_toggle' item.pk %}" method="post">
        {% csrf_token %}
        {% if user.is_authenticated and item in user.profile.favorites.all %}
            <button type="submit">Remove from favorites</button>
        {% else %}
            <button type="submit">Add to favorites</button>
        {% endif %}
    </form>
    <h2>Decription:</h2>
    {% autoescape off %}
    <p>{{ desc | linebreaks }}</p>
    {% if user.is_authenticated and item.seller.user_id != user.id %}
    <p>In stock: {{ item.quantity }}</p>
    <form action="{% url 'cart_add' item.pk %}" method="post">
        {% csrf_token %}
        <label>Quantity:</label>
        <input type="number" name="quantity" value="1" min="1" max="{{ item.quantity }}">
        <button type="submit">Add to cart</button>
    </form>
    {% endif %}
    {% endautoescape %}
{% endblock %}
