{% load static %}
{% load catalog_tags %}


<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="{% static 'catalog/css/style.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="user-label">
    {% if user.is_authenticated %}
        {{ user.username }}
    {% else %}
        Guest
    {% endif %}
    </div>
    <h1>Menu</h1>
    <ul>
    <li><a href="{% url 'catalog_main' %}">Main page</a></li>
    {% for el in menu %}
    <li><a href="{% url el.url %}">{{ el.title }}</a></li>
    {% endfor %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'cart' %}">Cart ({{ cart_count }})</a></li>
    <li><a href="{% url 'favorites' %}">Favorites</a></li>
    <li><a href="{% url 'orders' %}">My orders</a></li>
    {% if is_seller %}
    <li><a href="{% url 'seller_cabinet' %}">Seller cabinet</a></li>
    {% endif %}
    <li>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="menu-logout">Logout</button>
        </form>
    </li>
    <li><a href="{% url 'profile' %}">Profile</a></li>
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
    {% endif %}
</ul>
    {% show_tags %}
    {% show_cats %}
    {% block content %} {% endblock %}
</body>
</html>